/*phones, less than 768px*/

.isPlaying {
  transform: scale(1.1);
  border-color: red;
  box-shadow: 0 0 10px red;
}

.drumKit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  margin: 5px;
  padding-top: 7%;
  padding-bottom: 7%;
  border: 4px solid black;
  border-radius: 5px;
  background:grey;
  transition:all 0.07s;
  cursor: pointer;
}


.drumKit:hover {
  cursor: pointer;
  background:lightgrey;
}

.hit {
  cursor: pointer;
}



.drumKit kbd {
  color: white;
  font-size: 24pt;
  font-weight: bold;
  text-shadow: 0 0 10px #000;
  text-transform: uppercase;
}

.drumKit span {
  color: red;
  font-size: 10pt;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 0 10px black;
  letter-spacing: 1px;
}

/*tablets, 768px and up*/
@media (min-width: 768px) {
  .isPlaying {
    box-shadow: 0 0 30px red;
  }

  .drumKit {
    border: 6px solid black;
    margin: 20px;
    padding-top: 7%;
    padding-bottom: 7%;
  }

  .drumKit kbd {
    font-size: 30pt;
  }

  .drumKit span {
    font-size: 30pt;
  }
}

/*desktop, 992px and up*/
@media (min-width: 992px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .drumKit {
    height: 270px;
    width: 270px;
    margin: 10px;
  }
}
